.cmf-viewport {
    overflow: auto;
}

.map-section {
    height: 100%;
}

.mainpane {
    height: 800px;
}

 .current-rating {
     top: 60px;
     right: -16px;
     position: relative;
 }

.current-weight {
    top: 60px;
    right: -35px;
    position: relative;
}

.rating-viz {
    padding-left: 20px;
    margin-top: -12px;
}

.searchBox {
    margin: 10px;
    padding: 10px;
}
.searchBox input {

}


/* forms */

/* This file resets some of the bootstrap css that was overridden by cmf */

.formcmf .panel-default>.panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}

.formcmf .panel-heading {
    padding: 10px 15px
}

.formcmf .panel-title {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px
}

body .formcmf {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.formbuilder {
    height: 600px;
}

.formcomponents {
    width: 30%;
}

.formarea {
    width: 70%;
}

.component-settings .nav-link {
    font-size: 0.6em;
}

.jsonviewer {
    max-height: 600px;
    overflow: scroll;
}

.form-type-select {
    display: inline-block;
    width: 100px;
    height: 28px;
    vertical-align: top;
}
